/vendor
/node_modules
Homestead.yaml
.env
docker-compose.yml
.DS_Store
/resources/assets/vendor
.vagrant
/coverage
Vagrantfile
.idea
.vscode
.scannerwork/
/config/powerbi.php
/nbproject/private/
/coverage
/public/assets/js
/public/assets/css
.swp
/phpmetrics
